.quartes >h1{
    color: rgba(131, 136, 143, 1);
    margin: 60px 75px;
    margin-top: 200px;
}


.headquartes-card >h1{
    color: rgba(51, 61, 75, 1);
    font-size: 32px;
}

.headquartes-info{
    padding: 0;
    
}
.headquartes-info >li{
    padding: 3px 0;
}