.navbar-container{
   
    margin-top: 30px;
    
    width: 100%;
    
    
}
.nav-right{
    width: 32%;
}

.nav-item >a{
    text-decoration: none;
    color: rgba(131, 136, 143, 1);
    font-size: 14px;
   
}